@model InstructorCreateVm

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImgUrl"></label>
        <input asp-for="ImgUrl">
        <span asp-validation-for="ImgUrl"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImgUrl"></label>
        <section>
        <span asp-validation-for="ImgUrl"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>